<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<img src="/assets/img/burger.png" class="img-fluid mx-auto" alt="Burger">
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
<h1 class="text-center title-font">Eat ze Burger</h1>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-6" id="">
			<table class="table table-bordered">
				{{#each burgers}}
					{{#unless devoured}}
						<tbody>
							<tr>
								<td id="burger-data">
									{{burger_name}}
									<button class="btn btn-secondary float-right devoured" data-id="{{id}}" data-devoured="{{devoured}}">Devour It!</button>
								</td>
							</tr>
						</tbody>
					{{/unless}}
				{{/each}}
			</table>
		</div>
		<div class="col-md-6" id="">
			<table class="table table-bordered">
				{{#each burgers}}
					{{#if devoured}}
						<tbody>
							<tr>
								<td id="burger-data">
									{{burger_name}}
									<button class="btn btn-danger float-right delete" data-id="{{id}}" data-devoured="{{devoured}}">Delete</button>
								</td>
							</tr>
						</tbody>
					{{/if}}
				{{/each}}
			</table>
		</div>
	</div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<br>
		<form>
			<div class="form-group form-actions">
				<input type="text" class="form-control" id="burger-input">
				<small class="form-text text-muted">Enter the burger that you would like to eat and click the "Submit" button</small>
				<br>
				<button type="submit" class="btn btn-danger" id="submit">Submit</button>
			</div>
		</form>
		<div class="col-md-4"></div>
	</div>
</div>